<!DOCTYPE html>
<html lang="fr-fr">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Plateforme d'apprentissage en ligne MOOC" />
    <meta name="theme-color" content="#320a46" />
    <base href="/" />
    <link rel="stylesheet" href="@Assets["lib/bootstrap/dist/css/bootstrap.min.css"]" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css" >
    
    <link rel="stylesheet" href="@Assets["app.css"]" />
    <link rel="stylesheet" href="@Assets["Mooc.styles.css"]" />
    <link rel="stylesheet" href="@Assets["css/anime.css"]" />
    <link rel="stylesheet" href="@Assets["css/quiz.css"]" />
    <link rel="stylesheet" href="@Assets["css/view.css"]" />
    <link rel="stylesheet" href="@Assets["css/editor.css"]" />
    <link rel="stylesheet" href="@Assets["css/userView.css"]" />
    <link rel="stylesheet" href="@Assets["css/sessionView.css"]" />
    <link rel="stylesheet" href="@Assets["css/coursView.css"]" />
    <link rel="icon" type="image/png" href="27.png" />
    
    <!-- ✅ CSP CORRIGÉE pour Bootstrap Icons -->
    <meta http-equiv="Content-Security-Policy" 
          content="default-src 'self'; 
                   script-src 'self' https://www.youtube.com https://player.vimeo.com; 
                   style-src 'self' 'unsafe-inline' https://cdn.jsdelivr.net; 
                   img-src 'self' data: https:; 
                   media-src 'self' https:; 
                   frame-src https://www.youtube.com https://player.vimeo.com https://www.dailymotion.com;
                   connect-src 'self';
                   font-src 'self' https://cdn.jsdelivr.net;
                   object-src 'none';
                   base-uri 'self';
                   form-action 'self';">
    <ImportMap />
    <HeadOutlet />
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js" defer></script>
    <script src="@Assets["lib/bootstrap/dist/js/bootstrap.bundle.min.js"]" defer></script>
    <script src="@Assets["js/RichEditor.js"]" defer></script>
    <script src="@Assets["js/downloadHelper.js"]" defer></script>
    <script src="@Assets["js/ErrorHandling.js"]" defer></script>
    <script src="@Assets["js/image-handler.js"]" defer></script>
</body>

</html>
